
<div class="container text-center m-5">
    <hr>
    <h1 class="titulo-contacto">¡¡Hola!! Esta es la página de {{titulo}}</h1>
    <hr>
    <h3>Aquí podrás llenar tus datos de contacto para que podamos comunicarnos contigo</h3>
</div>