
<div class="container text-center m-5">
    <hr>
    <h1 class="title">¡¡Hola!! Esta es la página de {{titulo}}</h1>
    <hr>
    <h3>Aquí podrás cargar la información de los nuevos productos</h3>
</div>