
<div class="container text-center mb-3">
    <hr>
    <h2 class="titulo-formulario">¡¡Hola!! Esta es la página de {{titulo}}</h2>
    <hr>
    <h4>Aquí podrás cargar la información de los nuevos productos</h4>
</div>

<div class="container w-75 bg-light pt-3 pb-3">
    <form action="/formulario" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Producto" required>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio unitario del Producto</label>
            <input type="number" class="form-control" id="precio" name="precio" placeholder="100" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción del Producto</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="2" required></textarea>
        </div>
        <div class="d-grid gap-2">  
            <button class="btn btn-info btn-lg" type="submit">Enviar</button>
        </div>
    </form>
</div>